---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import ReadMoreLink from '../components/ReadMoreLink.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <div class="table-post">
      {
        posts.length === 0 ? (
          <NoContents contents={posts} />
        ) : (
          posts.map((post) => (
          <div class="table-post2">
            <div class={styles.post} key={post.Slug}>
              <div class="table-item item4"><PostFeaturedImage post={post} /></div>
              <div class="table-item item3"><PostTags post={post} /></div>
              <div class="table-item item1"><PostDate post={post} /></div>
              <div class="table-item item2"><PostTitle post={post} /></div>
              <div class="table-item item5"><PostExcerpt post={post} /></div>
              <div class="table-item item6"><ReadMoreLink post={post} /></div>
            </div>
          </div>
          ))
        )
      }
    </div>
    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <div slot="aside" class={styles.aside}>
    <!-- <BlogPostsLink heading="おすすめ記事" posts={rankedPosts} /> -->
    <BlogTagsLink heading="カテゴリ" tags={tags} />
    <h2 class="aside-kotei">固定リンク</h2>
    <div class="aside-kotei-list">
        <ul>
          <li><a href="/" rel="noopener" target="_blank">📌&nbsp;ホーム</a></li>
          <li><a href="https://megane3-contact.notion.site/16726c3be0854d4abf7eaf6101f04b4d" rel="noopener" target="_blank">📌&nbsp;問い合わせ</a></li>
          <li><a href="https://twitter.com/hair_no_megane3" rel="noopener" target="_blank">📌&nbsp;X</a></li>
          <li><a href="https://www.instagram.com/megane_no_item/" rel="noopener" target="_blank">📌&nbsp;Instagram</a></li>
        </ul>
    </div>
  </div>
</Layout>

<style>
  h2.aside-kotei {
    margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 0.95rem;
  }
  .aside-kotei-list ul{
    list-style: none;
    margin-left: -1.5rem;
  }
  .aside-kotei-list li{
  }
  .table-post {
    padding: 10px;
  }
  .table-post2{
    margin-bottom: -30px;
  } 
  .table-post .table-item {
    display: block;
  }
  .item2 .post-title {
    margin: 0;
    padding: 0.2rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--fg);
  }
  .table-post .item3 {
    display: none;
  }
  .table-post .item4 {
    display: block;
  }
  .table-post .item5 {
    display: none;
  }
  .table-post .item6 {
    display: none;
  }
  .table-post2 {
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
    width: 32%;
  }
  .table-post2:nth-child(3n) {
    margin-right: 0;
  }
  @media (max-width: 640px) {
  .table-post2 {
    width: 28.5vw;
    margin-bottom: -40px;
  }
  .table-post{
      padding-left: 0;
      padding-right: 0;
  }
  }
</style>


