---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import {
  getPosts,
  getRankedPosts,
  getAllTags,
  getNumberOfPages,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import ReadMoreLink from '../components/ReadMoreLink.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPosts(NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPages(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <div class="table-post">
      {
        posts.length === 0 ? (
          <NoContents contents={posts} />
        ) : (
          posts.map((post) => (
            <div class={styles.post} key={post.Slug}>
              <div class="table-item item1"><PostDate post={post} /></div>
              <div class="table-item item2"><PostTitle post={post} /></div>
              <div class="table-item item3"><PostTags post={post} /></div>
              <div class="table-item item4"><PostFeaturedImage post={post} /></div>
              <div class="table-item item5"><PostExcerpt post={post} /></div>
              <div class="table-item item6"><ReadMoreLink post={post} /></div>
            </div>
          ))
        )
      }
    </div>
    <footer>
      <Pagination currentPage={1} numberOfPages={numberOfPages} />
    </footer>
  </div>

  <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="おすすめ記事" posts={rankedPosts} />
    <BlogTagsLink heading="カテゴリ" tags={tags} />
  </div>
</Layout>

<style>
  .table-post {
    border-top: 1px solid #999;
    padding: 10px;
  } 
  .table-post .table-item {
    display: inline-block;
    height: 1rem;
  }
  .table-post .item2{
    font-size: 1rem;
    font-weight: 400;
  }
  .table-post .item2 h2 {
    font-size: 1rem;
    font-weight: 400;
  }
  .table-post .item2 h2 a {
    font-size: 1rem;
    font-weight: 400;
  }
  .table-post .item5 {
    display: none;
  }
  .table-post .item6 {
    display: none;
  }



</style>
